.page {
    padding: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page h1 {
    font-size: 64px;
    text-align: center;
}

.weatherCard h2 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.weatherCard {
    border: 8px dashed black;
    padding: 50px;
}

.weatherCard p {
    font-size: 40px;
}

.header--wrapper {
    margin: 50px;
    text-align: center;
}

.header--wrapper a {
    font-size: 40px;
    font-style: italic;
    margin: 10px;
    padding: 20px;
    text-emphasis: ;
    text-decoration: none;
}